html, body {
    background-color: #fff;
    font-size: 13px;
    color: #93939B;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
    width: 100%;
    font-family: 'Gadugi';
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
}

a, button, a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:focus, .btn:active {
    outline: inherit;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-weight: 300;
    margin: 0;
}

h4, h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}

h1 {
    font-family: 'open_sansbold';
    font-size: 5.143rem;
    font-weight: bold;
    line-height: 5.5rem;
    color: #fff;
    letter-spacing: .4rem;
}

h2 {
    font-family: 'source_sans_probold';
    font-size: 2.571rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: #363639;
}

h3 {
    font-family: 'source_sans_proregular';
    font-size: 1.714rem;
    line-height: 2.5rem;
    color: #D8DEDA;
}

h4 {
    font-family: 'source_sans_proregular';
    font-size: 1.286rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

p {
    line-height: 2rem;
    font-size: 0.875rem;
}

p:last-child {
    margin-bottom: 0px;
}

.home-wrap h2, .home-wrap h3, .home-wrap h4, .home-wrap h5, .home-wrap p {
    color: #ffffff;
}

.textwhite {
    color: #fff;
}

.colorstext {
    color: #5e9a28;
}

.coloricon i {
    color: #5e9a28;
}

.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}

.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext {
    margin-top: 40px;
}

/*
Section
*/

.sections {
    padding-top: 85px;
    padding-bottom: 105px;
    /*overflow: hidden;*/
}

.sections.footer {
    padding-bottom: 80px;
}

section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}

section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}

section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading {
    margin-bottom: 4rem;
}

.overlay {
    background-color: rgba(147, 147, 155, 0.8);
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}

/*
Separator
*/

.separator {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    background: #836363;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.separator:after {
    position: absolute;
    left: 5%;
    bottom: 4px;
    height: 1px;
    width: 80px;
    background: #363639;
    content: "";
    display: inline-block;
    margin-left: 20px;
}

.separator:before {
    position: absolute;
    right: 5%;
    bottom: 4px;
    height: 1px;
    width: 80px;
    background: #363639;
    content: "";
    display: inline-block;
    margin-right: 20px;
}

.separator2 {
    height: 4px;
    width: 40px;
    margin: 10px 0px;
    background: #FFDEDC;
    position: relative;
}

.separator3 {
    align: left;
    height: 2px;
    width: 40px;
    margin: 20px auto;
    background: #FFDEDC;
}

.separator4 {
    height: 2px;
    width: 30px;
    margin: 20px 0px;
    background: #836363;
}

.divider {
    height: 1px;
    background: #eee;
    width: 100%;
    overflow: hidden;
}

/*
Button
*/

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.disabled, .btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #5A605A;
    border-color: #5A605A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #5A605A;
    border-color: #5A605A;
}

.btn {
    display: inline-block;
    min-width: 150px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 0.8125rem;
    border-radius: 0px;
    margin-top: 20px;
    transition: .5s;
    border: 1px solid #5A605A;
    font-family: 'open_sansbold';
    padding: 0.8rem 3rem;
    transition: all 0.6s;
    border-radius: 2px;
}

.btn:hover {
    box-shadow: 0px 2px 2px 1px rgba(221, 221, 221, 0.6);
    color: #fff;
}

.btn-default {
    background: transparent;
    border: 1px solid #fff;
    padding: 1.125rem 3rem;
}

.btn-default:hover {
    background: #5A605A;
    border: 1px solid #5A605A;
}

.btn-lg {
    background: #5A605A;
    padding: 1.125rem 3rem;
}

.btn-md {
    background: #5A605A;
    padding: 1rem 2rem;
    border: 1px solid transparent;
}

/*
Extra height css
*/

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.m_t_10 {
    margin-right: 10px;
}

.padding-top-20 {
    padding-top: 1.33rem;
}

.padding-bottom-20 {
    padding-bottom: 1.33rem;
}

.padding-top-40 {
    padding-top: 2.66rem;
}

.padding-bottom-40 {
    padding-bottom: 2.66rem;
}

.padding-top-60 {
    padding-top: 5rem;
}

.padding-bottom-60 {
    padding-bottom: 5rem;
}

.padding-top-90 {
    padding-top: 6.429rem;
}

.padding-bottom-90 {
    padding-bottom: 6.429rem;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.p_l_r {
    padding-left: 5.714rem;
    padding-right: 5.714rem;
}

/*padding*/

.padding-twenty {
    padding: 10px 0;
}

.padding-fourty {
    padding: 20px 0;
}

.padding-sixty {
    padding: 30px 0;
}

.padding-eighty {
    padding: 40px 0;
}

h1 span {
    color: #5e9a28;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #ddd;
}

input::-moz-placeholder {
    color: #ddd;
}

input::-ms-input-placeholder {
    color: #ddd;
}

/* navbar section */

.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: rgba(205, 205, 209, 0.9);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    height: 90px;
}

.main_menu_bg {
    font-family: Minnadrop;
    margin-top: 0px;
    background-color: transparent;
}

.main_menu_bg .navbar-default {
    font-family: Minnadrop;
    background-color: transparent;
    border-color: transparent;
    transition: all .6s;
    margin: 15px auto;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    font-family: Gadugi;
    font-weight: bold;
    font-size: 1.25rem;
    color: #5A605A;
    background: transparent;
}

.main_menu_bg .navbar {
    border-bottom: transparent;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    font-family: Minnadrop;
    color: #5A605A;
    padding-bottom: 33px;
    background: transparent;
    border-bottom: 3px solid #5A605A;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #6C746F;
}

.navbar-brand {
    padding: 0px 15px;
}

.navbar-brand>p {
    color: #5A605A;
    font-family: open_sansbold;
    font-weight: bolder;
    font-size: 1.5rem;
}

.navbar-brand>img {
    padding-right: 10px;
    max-width: 100%;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #f5c239;
}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 1px 0 0;
    font-size: 1.5rem;
    ;
    text-align: right;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 0px
}

.scrolldown {
    position: absolute;
    left: 48.5%;
    bottom: -2%;
    width: 40px;
    height: 40px;
    line-height: 48px;
    background: #5A605A;
    border-radius: 50%;
    text-align: center;
    z-index: 9;
}

.scrolldown a i {
    font-size: 1.5rem;
    color: #ccc;
}

.culmn {
    width: 100%;
    overflow: hidden;
}

/*heading title all area*/

.head_title {
    margin-top: 30px;
    margin-bottom: 90px;
}

.head_title h3 {
    color: #413d4b;
}

.head_title .subtitle {
    margin-top: 30px;
}

/*home section*/

.home {
    background: url(../images/homebg.jpg) no-repeat center center;
    background-size: cover;
}

.home_skew_border {
    position: relative;
}

.home_skew_border:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 86px solid #fff;
    border-right: 680px solid transparent;
}

.home_skew_border:before {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 86px solid #fff;
    border-left: 680px solid transparent;
}

.main_home {
    padding-top: 130px;
    padding-bottom: 130px;
    display: block;
}

.main_home h1 {
    color: #fff;
    margin-bottom: 15px;
}

.main_home p {
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 1.125rem;
}

/*==================================================================
            Feature Section Style
====================================================================*/

.main_feature {}

.main_feature .single_feature {}

.main_feature .single_feature:hover .single_feature_icon {
    border-color: #e74c3c;
    transform: rotate(45deg);
}

.main_feature .single_feature:hover .single_feature_icon i {
    transform: rotate(-45deg);
}

.main_feature .single_feature:hover h4 {
    color: #e74c3c;
}

.main_feature .single_feature .single_feature_icon {
    border: 1px solid #ddd;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 20px auto;
    transition: all 0.6s;
}

.main_feature .single_feature i {
    margin-bottom: 30px;
    color: #e74c3c;
    transition: all 0.6s;
}

.main_feature .single_feature h4 {
    transition: all 0.6s;
}

/*==================================================================
            About Section Style
====================================================================*/

.main_service .head_title {
    padding: 100px 0px 40px 0px;
    margin-bottom: 0px;
}

.main_service .head_title h2 {
    margin-right: 12%;
    border-right: 6px solid #836363;
    padding-right: 5%;
}

.main_service .single_service_img {
    position: relative;
    height: 650px;
}

.main_service .single_service_img img {
    width: 100%;
    height: 100%;
}

.main_service .single_service.single_service_text {
    margin-right: 0px;
    background: #C6D2C6;
}

.main_service .single_service.single_service_text .single_service_icon i {
    background: #363639;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #C6D2C6;
    position: relative;
    z-index: 9;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 2rem;
}

.main_service .single_service.single_service_text .single_service_right_text {
    width: 96%;
}

.main_service .single_service.single_service_text .single_service_right_text h4 {
    font-size: 1.5rem;
    color: #363639;
}

.main_service .single_service.single_service_text .single_service_right_text p {
    color: #836363;
    font-size: 1.25rem;
    font-family: 'Gadugi';
}

.main_service ul {
    color: #836363;
    font-size: 1.25rem;
    font-family: 'Gadugi';
}

/*======================================================================
                    Products Section Style
========================================================================*/

.btn-md:active, .btn-md.active {
    font-size: 1.125rem;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
}

button.btn-md:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    color: #93939B;
}

button.btn-md {
    text-align: center;
    color: #444;
    letter-spacing: 1px;
    margin: 0;
    font-size: .8125rem;
    border-radius: 0px;
    margin-top: 0px;
    background-color: transparent;
    transition: .5s;
    border: 0px solid #AAB7AE;
    font-family: 'Gadugi';
}

button.btn-md:hover {
    font-size: 1.125rem;
    background-color: transparent;
    color: #AAB7AE;
    text-decoration: none;
    border: 0px solid #93939B;
}

.products .toolbar {
    margin-bottom: 50px;
}

#productswork {
    -webkit-column-count: 4;
    -moz-column-count: 8;
    column-count: 6;
    -webkit-column-gap: 0rem;
    -moz-column-gap: 0rem;
    column-gap: 0rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}

.tile {
    display: none;
}

.scale-anm {
    margin: 0px;
    width: 100%;
}

.tile img {
    height: auto;
    display: inline-block;
    width: 100%;
}

.single_products {
    position: relative;
}

.single_products:hover .grid_item_overlay {
    opacity: 1;
}

.grid_item_overlay {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background: rgba(198, 210, 198, .85);
    color: #363639;
    padding: 20px;
    opacity: 0;
    transition: 0.6s;
    padding-top: 10%;
    z-index: 99;
}

.grid_item_overlay h3 {
    font-weight: bold;
    color: #363639;
}

.grid_item_overlay a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    background: transparent;
}

.grid_item_overlay a:hover i {
    color: #F1B5B5;
    background: #AAB7AE;
}

.products {
    background: #E5DFDD;
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

/*====================================================================
                        Projects Section Style
======================================================================*/

.projects {
    background: #FFF3F2;
}

.main_projects {
    overflow: hidden;
}

.main_projects a {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 340px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    line-height: 100px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.main_projects img {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    float: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*=================================================================
                    Equipments Section Style
===================================================================*/

.blog {
    background: #C6D2C6;
}

.main_blog_content .single_blog_area .single_blog_text {
    background: #93939B;
    padding: 70px 30px 70px 50px;
    position: relative;
}

.main_blog_content .single_blog_area .single_blog_text.s_b_left:after {
    position: absolute;
    left: -8%;
    top: 45%;
    content: "";
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid #F1B5B5;
    ;
    border-bottom: 30px solid transparent;
}

.main_blog_content .single_blog_area .single_blog_text.s_b_right:after {
    position: absolute;
    right: -8%;
    top: 45%;
    content: "";
    z-index: 9;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #F1B5B5;
    ;
    border-bottom: 30px solid transparent;
}

.main_blog_content .single_blog_area .single_blog_text a.read_more {
    color: #fff;
}

.main_blog_content .single_blog_area .single_blog_img {
    width: 100%;
    height: 417px;
    display: inline-block;
}

.main_blog_content .single_blog_area .single_blog_img img {
    width: 100%;
    height: 100%;
}

/*=================================================================
                    Contacts Section Style
===================================================================*/

.contact {
    background: #f4f5f9;
}

.contact_info_content {
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.01);
}

.contact_info_content h3 {
    color: #e74e3e;
    font-family: 'source_sans_prosemibold';
    margin-bottom: 19px;
}

.contact_info_content h4 {
    font-family: 'open_sansregular';
}

.contact_info_content h4 {
    margin: 0;
    padding: 0;
}

#email {
    text-transform: lowercase;
}

.single_contant_left {
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.01);
}

.single_contact_info {
    margin-bottom: 45px;
    overflow: hidden;
}

/*=================================================================
                        Footer Section Style
===================================================================*/

.footer {
    background: #000000;
}

.main_footer {
    overflow: hidden;
    padding: 20px 0px;
}

.main_footer .flowus a i {
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    border-radius: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 18px;
    margin-top: 10px;
}

.main_footer .flowus a i:hover {
    color: #e74c3c;
}

.copyright_text {
    text-align: right;
}

.copyright_text p {
    color: #fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}

.copyright_text p i {
    padding: 0px 10px;
    color: #ff0000;
}

.copyright_text p a {
    padding: 0px 10px;
    color: #e74c3c;
}

/* scrollup */

.scrollhome {}

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #e74c3c;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}